:root
{
	--size: calc(min(60vw, 60vh) / 6);
}

body {
    margin: 20px auto;
    background-color: #222222;
	color: white;
}

#game {
    display: grid;
    grid-template-columns: repeat(6, var(--size));
    grid-template-rows: repeat(6, var(--size));
    gap: 5px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    position: relative;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cell.vertical {
    background-image: url('vertical.png'); /* Replace with actual path to vertical line image */
}

.cell.horizontal {
    background-image: url('horizontal.png'); /* Replace with actual path to horizontal line image */
}

.cell.diagonal1 {
    background-image: url('diagonal1.png'); /* Replace with actual path to diagonal1 line image */
}

.cell.diagonal2 {
    background-image: url('diagonal2.png'); /* Replace with actual path to diagonal2 line image */
}

.cell.highlight {
    background-color: #a0ffa0; /* Highlight color */
}

.cell.highlight2 {
    background-color: #90b0ff; /* Highlight color */
}

.donut {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.player1 {
    background-image: url('donut1.png'); /* Replace with actual path to player 1 donut image */
}

.player2 {
    background-image: url('donut2.png'); /* Replace with actual path to player 2 donut image */
}

.player1, .player2
{
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
}

.thumbnail
{
	display: inline-block;
	width: 32px;
	height: 32px;
}

#logFieldset
{
	display: flex;
	overflow-y: auto;
	max-height: 25vh;
	width: calc(var(--size)*6);
	margin: 8px 0;
}

#log {
    margin-top: 0px;
    padding: 2px;
    font-family: Arial, sans-serif;
    font-size: calc(var(--size)/6);
}

#log div {
    padding: 4px;
}

#container
{
	display: flex;
	flex-flow: wrap;
	margin: 0;
	justify-content: center;
	width: 100%;
}

#container .hidden
{
	display: none;
}

.button {
  background-color: #223344; /* Green */
  cursor: pointer;
  border: none;
  color: white;
  margin-top: 12px;
  padding: 15px 32px;
  width: calc(var(--size)*6 + 27px);
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 18px;
  box-sizing: border-box;
}

input
{
	box-sizing: border-box;
	width: 264px;
}

.break {
  flex-basis: 100%;
  height: 0;
}